@{
    ViewBag.Title = "Contact Information";
}

<h3>@ViewBag.Message</h3>
<hr />

<address>
    <b>Contacts:</b><br />
    13 West Bay Street<br />
    Savannah, GA 31401<br />
    <abbr title="Phone">Phone:</abbr>
    912-444-1778
</address>

<address>
    <strong>School Email:</strong>   <a href="mailto:Dmitry@example.com">db23796@georgiasouthern.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:Bakalov@example.com">dmitry.a.bakalov@gmail.com</a><br /><br />
    <strong>GitHub:</strong> <a href="https://github.com/DmitryBakalov/Capstone-Project-Calendar.git">Capstone Bill Calendar GitHub</a>
</address>
