@model CapstoneBillCalendar.Models.UserModel
@{
    ViewBag.Title = "Index";
}

<h3>Welcome to your Calendar Application, <b>@Html.DisplayFor(model => model.Username)@ViewData["userName"]!</b></h3>
<hr>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @*<input type="button" value="Logout" class="btn btn-primary" onclick="/Login/Logout" />*@
        <a class="btn btn-primary" href="/Login/Login" role="button">Logout</a>
    </div>
</div>

<address>
    <b>Contacts:</b><br />
    13 West Bay Street<br />
    Savannah, GA 31401<br />
    <abbr title="Phone">Phone:</abbr>
    912-444-1778
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Dmitry@example.com">dmitry@example.com</a><br />
    <strong>Questions:</strong> <a href="mailto:Bakalov@example.com">bakalov@example.com</a>
</address> 