
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="calendar"></div>

@* Modal popup to view and edit data *@
<div class="modal fade" id="detailsModal" tabindex="1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="recordTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p id="bodyDetails"></p>"
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* Importing styles for the Calendar *@
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    @* Importing JS code for the Calendar*@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    @*<script src="~/Scripts/fullcalendar.helper.min.js"></script>*@


    <script>
        // $(document).ready() is used when DOM is ready for JavaScript
        $(document).ready(function () {
            var billsRecords = [];
            $.ajax({
                // Getting data from database
                type: "GET",
                url: "/home/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        var paymentAmount = " $" + v.PaymentAmount;
                        var dueColor = v.PaidDate ? v.ThemeColor = v.ThemeColor : v.ThemeColor = "red";
                        dueColor = v.ThemeColor;

                        // Pushing data to the event object
                        billsRecords.push({
                            title: v.PayeeName.concat(paymentAmount),
                            description: v.Description,
                            start: moment(v.PaidDate),
                            end: moment(v.DueDate),
                            color: dueColor,
                            allDay: true,
                        });
                        //for (var i in billsRecords) {

                        //    document.write("<br>");

                        //    for (var j in billsRecords[i]) {
                        //        document.write(billsRecords[i][j] + "<br>");
                        //    }
                        //}

                    })
                    GenerateCalendar(billsRecords);
                },
                error: function (error) {
                    alert("Das ist unglücklich");
                }
            })
            function GenerateCalendar(billsRecords) {
                $('#calendar').fullCalendar('destroy'); //Checks and destroys a calendar if it already exists
                $('#calendar').fullCalendar({           // Creates a new calendar view
                    contentHeight: 600,
                    defaultDate: new Date(),
                    header:
                    {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: billsRecords,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#detailsModal #recordTitle').text(calEvent.title);
                        var $details = $('<div/>');
                        $details.append($('<p/>').html('<b>Due Date: </b>' + calEvent.end.format("DD-MMM-YYYY")));

                        if (calEvent.startStr != null) {
                            $details.append($('<p/>').html('<b>Paid Date:</b>' + calEvent.start.format("DD-MMM-YYYY")));
                        }
                        else {
                            $details.append($('<p/>').html('<b>Paid Date:</b> Has <b>NOT</b> been paid yet.'));
                        }
                        $details.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                        $('#detailsModal #bodyDetails').empty().html($details);

                        $('#detailsModal').modal();

                    }
                });
            }
        });
    </script>
}